@use 'styles/design/base/breakpoints' as brk;

.outer_cont {
    padding: 6rem 1rem;
    text-transform: uppercase;

    @include brk.tablet {
        padding: 9vw 2vw;
    }

    h3 {
        font-weight: bold;
        @include brk.tablet {
            line-height: 0.9;
            font-size: 11vw;
        }
    }
}

.row_col {
    flex-direction: column;
    @include brk.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.small_text {
    display: none;
    font-size: 0.9vw;
    width: 20vw;

    @include brk.tablet {
        display: flex;
    }

    &:first-of-type {
        padding-top: 0.3vw;
    }
}

.image_cont {
    position: relative;
    width: 100%;
}

.switch_cont {
    position: relative;
    flex: 1 1 100px;
    width: 40vw;
    align-self: center;

    @include brk.tablet {
        width: auto;
        align-self: flex-end;
        flex: 1 1 10vw;
    }
}

.switch {
    height: 100px;
    position: relative;
    width: 30px;
    background: #0e0e0e;

    @include brk.tablet {
        height: 12vw;
        width: 4vw;
    }

    .red_cont {
        position: absolute;
        top: 0;
        transform: translateX(-7px);
        @include brk.tablet {
            transform: translateX(-0.5vw);
        }

        .red {
            aspect-ratio: 1/1;
            width: 45px;
            border-radius: 50%;
            background: #e1493e;

            @include brk.tablet {
                width: 5vw;
            }
        }
    }
}
