@use 'styles/design/base/breakpoints' as brk;
@use 'styles/design/base/colors' as c;

.container {
    padding: 12rem 2rem;
    max-width: 1440px;
    margin: auto;
}

.small {
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + 0.3vw);
}

.plain {
    //font-style: normal;
    //font-weight: 400;
    //font-size: 2em;
    line-height: 1.7;
    margin-left: 12rem;
    max-width: 48vw;
}
