@use 'styles/design/base/breakpoints' as brk;

.carousel_text {
    line-height: 1;
    font-size: 1.3rem;
    @include brk.tablet {
        font-size: var(--font-s-p1);
    }
}

.grid {
    display: grid;
    height: var(--full-height);
    padding: 0 1rem;
    gap: 0;
    @include brk.tablet {
        gap: 50px;
        padding: 0 6vw;
    }
}

.t {
    @extend .carousel_text;
    margin: 0;
    position: absolute;
    top: 47%;
    left: 20px;

    @for $i from 1 through 2000 {
        &:nth-child(#{$i}) {
            //transform: rotateX(-10deg * ($i - 1)) translateZ(150px);
            transform: rotateX(-10deg * ($i - 1)) translateZ(20rem);
            @include brk.tablet {
                transform: rotateX(-10deg * ($i - 1)) translateZ(24vw);
            }
        }
    }
}

.green {
    color: #4c5229;
}

.red {
    color: #e1493e;
}

.blue {
    color: #428b86;
}

.yellow {
    color: #e49f5a;
}
