@use 'styles/design/base/breakpoints' as brk;

.deserve_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    @include brk.tablet {
        width: 60vw;
        padding: 0;
    }

    span {
        text-align: center;
    }
}

.deserve_p {
    margin: auto;
    max-width: 90%;

    @include brk.tablet {
        max-width: 35vw;
    }
}
