@use 'styles/design/base/typography' as t;
@use 'styles/design/base/colors' as c;
@use 'styles/design/base/breakpoints' as brk;

.img_cont {
    position: relative;
    margin-top: 2vw;
    width: 90%;
    flex: 0 0 auto;
    aspect-ratio: 16/9;

    @include brk.tablet {
        width: 40vw;
        height: calc(100% - 2vw);
    }
}

.back_cont {
    position: relative;
    width: 30vw;
    flex: 0 0 auto;
    font-size: 1.4rem;
    @include brk.tablet {
        font-size: 1.5vw;
        flex: 1 1 auto;
        height: 100%;
    }
}

.front {
    flex-direction: column;
    @include brk.tablet {
        flex-direction: row;
    }
}

.bio {
    width: 90%;
    padding-top: 5vw;
    flex: 0 0 auto;

    @include brk.tablet {
        width: 25vw;
    }
}

.title_cont {
    @include t.heading-3;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 6rem 2rem;

    p {
        line-height: 1;
        font-size: 2rem;

        @include brk.tablet {
            padding: 2vw 1rem;
            font-size: 3.67vw;
        }
    }
}

.job_cont {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 0;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 1vw;

    height: 30vw;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.infinite_scrolling_text {
    color: #ffffff1a;
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100px + 30vw);
    overflow: hidden;
    z-index: 1;

    @include brk.tablet {
        height: calc(50px + 8vw);
    }

    &__title {
        display: flex;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        transition: all 1s ease;

        & > div {
            display: flex;
            animation: scrollText 25s infinite linear;
            gap: 10vw;
        }

        p {
            //line-height: 1;
            //mix-blend-mode: difference;
            //color: #fff;
            //margin: 0;
            //font-size: calc(100px + 30vw);
            transition: all 2s ease;
            //@include brk.tablet {
            //font-size: calc(50px + 10vw);
            //}
        }
    }
}
