.container {
    position: relative;
    height: var(--full-height);
    padding: 1rem 3vw;

    & > p {
        font-size: 4vw;
        width: 26vw;
    }

    .red_container {
        position: relative;

        .red_dot {
            position: relative;
            width: 20vw;
            font-size: 2vw;
            border-radius: 50%;
            aspect-ratio: 1/1;
            background-color: #e1493e;
            color: black;
        }

        .line {
            position: absolute;
            top: 50%;
            width: 45vw;
            height: 1px;
            background-color: #979797;
        }
    }
}
