@use 'styles/design/base/breakpoints' as brk;

.quality_cont {
    padding: 10vw 5vw 0;
}

.inner_scroll {
    width: 100%;
    height: 120px;

    @include brk.tablet {
        //height: 100%;
    }
}

.image_cont1 {
    flex-direction: column-reverse;
    @include brk.tablet {
        flex-direction: row;
        align-items: center;
    }
}
