@use 'fonts' as f;
@use 'breakpoints' as brk;
@use 'colors' as col;
@use 'styles/design/functions/convert' as c;

@mixin heading-1 {
    @include f.primary-font;
    margin: 0;
    line-height: var(--font-lh-h0);
    font-style: normal;
    font-weight: 100;
    font-size: var(--font-s-h0);

    //@include brk.mobile-xl {
    //    font-size: 3.75em;
    //}
}

@mixin heading-2 {
    @include f.primary-font;
    margin-bottom: 0;
    line-height: var(--font-lh-h2);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-s-h2);
}

@mixin heading-3 {
    @include f.primary-font;
    margin-bottom: 0;
    line-height: var(--font-lh-h3);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-s-h3);
}

@mixin heading-4 {
    @include f.primary-font;
    font-weight: 600;
    font-size: c.pxToRem(14);
    color: col.$dark1;
    margin: 0;
    font-style: normal;
    line-height: 140%;

    @include brk.mobile-xl {
        font-size: 1.25em;
    }

    &_same_size {
        font-size: c.pxToRem(20);
    }
}

@mixin p-text-1 {
    @include f.primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-s-p1);
    line-height: 1.4;
}

@mixin p-text-2 {
    @include f.primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-s-p2);
    line-height: 1.4;
}

@mixin button-text {
    @include f.secondary-font;
    font-weight: 600;
    font-size: 1em;
}
