@use 'styles/design/base/breakpoints' as brk;

.alex_pic {
    //background-image: url('https://images.unsplash.com/photo-1661553141518-c89b061640e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=659&q=80');
}

.heading {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    //margin: -5vw 0 0;
    width: 100%;
    font-size: 18.25vw;
    pointer-events: none;
    //font-weight: 300;

    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    will-change: transform, opacity;
    transform-origin: 50% 40%;

    @include brk.tablet {
        position: fixed;
    }
}

.name {
    font-size: 2vw;
}

.job {
    font-size: 0.9vw;
}

.heading__up {
    //display: none;
}

.heading__down {
    bottom: 0;
    top: auto;
    margin-top: 0;
    //margin-bottom: -6vw;
    transform-origin: 50% 60%;
}

.columns {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    color: var(--bg-color);

    --ratio: 0.75;
    --grid-item-height: 36vw;
    --grid-item-width: calc(var(--grid-item-height) * var(--ratio));
    --thumb-height: 5vw;
    --thumb-width: calc(var(--thumb-height) * var(--ratio));

    @include brk.tablet {
        padding: 0 3rem;
        --grid-item-height: 26vw;
    }
}

.column_wrap {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 0 15vh;
}

.column_wrap_height {
    height: 100vh;
    flex-direction: column-reverse;

    .column {
        flex-direction: column-reverse;
        display: flex;
    }
}

.column {
    position: relative;
    display: block;
    will-change: transform;
}

.column__item {
    margin: 0;
    position: relative;
    z-index: 1;
}

.column__item_imgwrap {
    width: var(--grid-item-width);
    height: var(--grid-item-height);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 8vh 2vw 0;

    @include brk.tablet {
        margin: 8vh 1vw 0;
    }
}

.column__item_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 20%;
    backface-visibility: hidden;
    position: relative;
}

.column__item_caption {
    text-transform: uppercase;
    padding: 0 1.3vw;
    margin-top: 0.5rem;

    width: 100%;
    display: flex;
    justify-content: space-between;
}
