@use 'styles/design/base/breakpoints' as brk;
@use 'styles/design/base/colors' as c;

.container {
    padding: 12rem 2rem;
    max-width: 1440px;
    margin: auto;
}

.h1 {
    text-align: right;
    max-width: 750px;
}

.plain {
    font-style: normal;
    line-height: 1.7;

    width: 100%;

    @include brk.tablet {
        max-width: 50vw;
    }
}
