@use 'styles/design/base/breakpoints' as brk;

.mask1 {
    //-webkit-mask-image: url('https://images.unsplash.com/photo-1662839514622-caba33719585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    //mask-image: url('');
    //-webkit-mask-repeat: no-repeat;
    //mask-repeat: no-repeat;

    //background: url('https://images.unsplash.com/photo-1662839514622-caba33719585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')
    //    0 0 / cover no-repeat;

    background: url('/bw1.png') 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page_img_cont,
.page_video_cont {
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include brk.tablet {
        width: calc(100% - 3vw);
        height: 100%;
        top: 0;
        position: absolute;
        overflow: hidden;
    }
}

.page_video_cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;

    @include brk.tablet {
        width: calc(100% - 6vw);
        height: 100%;
        top: 0;
        position: absolute;
        overflow: hidden;
    }
}

.timeline_container {
    height: auto;
    overflow: hidden;

    @include brk.tablet {
        height: var(--full-height);
    }

    .timeline {
        height: 100%;
        padding: 3vw;

        gap: 2rem;

        flex-direction: column;
        @include brk.tablet {
            flex-direction: row;
            gap: 0;
        }

        .preview {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            gap: 1.3vw;
            align-items: flex-end;
            z-index: 999;

            .line {
                height: 1px;
                background: #eee;
                width: 3vw;

                transition: 0.3s all ease;

                &.active {
                    width: 5vw;
                    background: white;
                }
            }
        }

        .timeline_page {
            position: relative;
            flex: 0 0 100%;
            width: 100%;
            height: auto;
            min-height: 400px;
            padding: 1rem;
            justify-content: center;

            @include brk.tablet {
                flex: 0 0 100vw;
                width: 100vw;
                min-height: unset;
                height: 100%;
                justify-content: unset;
            }

            .image_cont {
                height: 100%;
                top: 0;
                position: absolute;
                overflow: hidden;

                &_70 {
                    width: 100%;
                    left: 0;
                    @include brk.tablet {
                        width: 70vw;
                        left: 20vw;
                    }
                }

                &_100 {
                    width: 100%;
                    left: 0;
                    @include brk.tablet {
                        width: calc(100% - 6vw);
                    }
                }
            }

            .info {
                width: 90%;
                position: relative;
                @include brk.tablet {
                    width: calc(100% - 6vw);
                    max-width: 50vw;
                    padding-left: 4vw;
                }
            }
        }
    }
}

.timeline_year {
    position: relative;
    font-size: 32vw;
    line-height: 1;
    color: var(--text-color);
}
