@use 'base/colors' as c;

:root {
    --bg-color: #{c.$dark1};
    --text-color: #{c.$light1};

    --font-s-p1: 2.777vw;

    --font-s-p2: 2vw;

    --font-s-h0: 15.36111vw;
    --font-lh-h0: 15.69444vw;

    --font-s-h2: 10vw;
    --font-lh-h2: 10vw;

    //--font-s-h1: 17.36111vw;
    //--font-lh-h1: 15.69444vw;

    //--font-s-h1: 10vw;
    //--font-lh-h1: 10vw;

    --font-s-h3: 8.5vw;
    --font-lh-h3: 8.5vw;
}
