@use 'base/colors' as c;
@use 'base/breakpoints' as brk;

:root {
    --bg-color: #{c.$dark1};
    --text-color: #{c.$light1};

    --font-s-p1: 1.8rem;
    --font-s-p2: 1.3rem;
    --font-s-p3: 0.85rem;

    --font-s-h2: 4.5rem;
    --font-lh-h2: 1;

    --font-s-h3: 3.3rem;
    --font-lh-h3: 3.3rem;

    --font-s-p: 0.75rem;
    --font-lh-p: 1rem;
    @include brk.tablet {
        --font-s-p1: 2.777vw;
        --font-s-p2: 2vw;
        --font-s-p3: calc(8px + 0.8vw);

        --font-s-h2: 10vw;
        --font-lh-h2: 10vw;

        --font-s-h3: 8.5vw;
        --font-lh-h3: 8.5vw;

        --font-s-p: 1.11111vw;
        --font-lh-p: 2.08333vw;
    }

    --font-s-h0: 15.36111vw;
    --font-lh-h0: 15.69444vw;

    //--font-s-h1: 17.36111vw;
    //--font-lh-h1: 15.69444vw;

    //--font-s-h1: 10vw;
    //--font-lh-h1: 10vw;
}
