@use 'styles/design/base/breakpoints' as brk;

.cont {
    gap: 150px;
    @include brk.tablet {
        gap: 40vw;
    }
}

.door {
    height: 100%;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    clip-path: inset(0px 0px 0px round 0px 0px 0 0);
    @include brk.tablet {
        clip-path: inset(40vw 45vw 75vw round 20vw 20vw 0 0);
    }
}

.door_knob {
    height: 100%;
    background: black;
    width: 100%;
    position: absolute;
    top: 0;
    clip-path: circle(0px at 220px 210px);
    @include brk.tablet {
        clip-path: circle(10px at 52vw 50vw);
    }
}

.p {
    width: 100%;
    @include brk.tablet {
        width: 20vw;
    }
}

.cont_1 {
    width: 100%;
    padding: 0 1rem;
    @include brk.tablet {
        width: 60vw;
    }
}

.cont_2 {
    width: 100%;
    @include brk.tablet {
        width: 50vw;
    }
}
