@use 'design/base/colors' as c;
@use 'design/base/breakpoints' as brk;
@use 'design/base/typography' as t;
@use 'design/base/fonts' as f;
@forward 'design/theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: f.$primaryFont;
    font-size: 16px;
    background-color: var(--bg-color);
    color: c.$light1;
    scroll-behavior: smooth;
}

[data-scroll].is-inview {
    opacity: 1;
}

[data-scroll] {
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;

    @include brk.tablet {
        opacity: 0;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

html.has-scroll-init {
    overflow: hidden;
}

footer,
header,
section {
    @include brk.tablet {
        will-change: transform;
    }
}

section {
    margin-top: -1px;
}

footer,
section {
    position: relative;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
input,
li,
ol,
p,
ul {
    margin: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Flexbox classes */
.flex {
    display: flex;
}

.align-flex-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

// .h-flex {
//   @include m.h-flex;
// }

// .v-flex {
//   @extend .flex;
//   flex-direction: column;
// }

// /* END: Flexbox classes*/

// .p-text-1 {
//   @include t.p-text-1
// }
